<!--about.html-->
{% extends 'base.html' %}

{% block background %}
<header class="intro-header" style="background-image: url('/static/images/about.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h3>LIFE IS SHORT</h3>
                    <hr class="small">
{#                    <span class="subheading"> YOU NEED PYTHON </span>#}
                    <h3> YOU NEED PYTHON </h3>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock background %}

{% block main %}
    <p >你不妨大胆一些，<br/>
        爱一个人，攀一座山……<br/>
        很多事情我都没有答案，<br/>
        但我相信，上天给我们生命，<br/>
        一定是让我们创造奇迹的！</p>
{% endblock %}